@model IEnumerable<AdminIB.Models.Request>

@{
    ViewData["Title"] = "Data IB";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int no=0;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Admins Table</h3>
                </div>
                <div class="box-body">
<table  class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                NO
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIMMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody id="table">

    </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
<script>  
    function convertDate(date){
        var d = new Date(date)
        return d.toDateString()
    }
    function doPost(item,status){
        console.log("test")
        item.status=status
        return jQuery.ajax({
            type:'PUT',
            url:"https://localhost:5001/api/request/"+item.clientId,
            data:JSON.stringify(item),
            success:function(result){
                alert(result)
            }
        })
        
    }
        var map= new Object()

        $(document).ready(function () {  
            $.ajax({  
                type: "GET",  
                url: "https://localhost:5001/api/request",  
                contentType: "application/json; charset=utf-8",  
                dataType: "json",  
                success: function (data) {  
                    //alert(JSON.stringify(data));                  
                    const tBody = $('#table')
                    $(tBody).empty();

                    $.each(data, function (i, item) {  
                        map[i]=item.clientId
                        const tr=$("<tr></tr>")
                            .append($("<td></td>").text(i+1))
                            .append($("<td></td>").text(item.namaMahasiswa))
                            .append($("<td></td>").text(item.nimMahasiswa))
                            .append($("<td></td>").text(convertDate(item.departureDate)))
                            .append($("<td></td>").text(convertDate(item.returnDate)))
                            .append($("<td></td>").text(item.reason))
                            .append($("<td></td>").text(item.destination))
                            .append($("<td></td>").text(item.status))
                            .append(
                                $("<td></td>").append(
                                    $("<button>Setujui</button>").on("click", function(){
                                        doPost(item,"setuju")
                                    })
                                ).append(
                                        $("<button>Tolak</button>").on("click", function(){
                                        doPost(item,"tolak")
                                        })
                                    )
                            );
                            tr.appendTo(tBody)  
                    }); //End of foreach Loop   
                    console.log(data);  
                }, //End of AJAX Success function  
      
                failure: function (data) {  
                    alert(data.responseText);  
                }, //End of AJAX failure function  
                error: function (data) {  
                    alert(data.responseText);  
                } //End of AJAX error function  
      
            });         
        });

    </script>  
}

