@model IEnumerable<AdminIB.Models.Request>

@{
    ViewData["Title"] = "Data IB";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int no=0;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Admins Table</h3>
                </div>
                <div class="box-body">
<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                NO
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIMMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    {no++;}
        <tr>
            <td>
                @(no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaMahasiswa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIMMahasiswa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | -->
                <a asp-action="Accept" asp-route-id="@item.Id">Setujui</a> |
                <a asp-action="Reject" asp-route-id="@item.Id">Tolak</a>
            </td>
        </tr>
}
    </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>$(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })</script>
